@import "tailwindcss";
.{
  margin: 0px;
  padding: 0px;
}


.container {
  @apply mx-auto md:max-w-7xl max-w-6xl;
}

:root {
  /* couleur principal  */
  --color-primary: #202B2D;
  --color-secondary: #015967;
}

/* body {
  background-color: var(--color-secondary);
  background-image: url('./assets//bg_two.png');
  background-repeat: no-repeat;
  background-size: auto;
} */

.primary {
  color: var(--color-primary)
}

.secondary {
  color: var(--color-secondary)
}

.font {
  font-family: "sans-serif";
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

